<body>

  <div class="logo">
    <div class="wookie1"><h1>Wookie</h1></div>
    <div class="wookie2"><h1>Wookie</h1></div>
  </div>

  <div class="fade"></div>

  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <p>Episode IV</p>
        <h1>A New Boogie Boogie Love</h1>
      </div>
      
      <p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>
        
        <p>A lot of people need to create and share story to make their lives greats again.Our project is to publiate Fan story with illustrations, animated gifs from Giphy and a loooooooot of Css. We try to give you somes magic moments. First, follow the adventure of Chewbaca, who try to find true compagnon after, Ian Solo ... Scroll & discover</p>

    </div>
  </section>


</body>