<div class="footer">
<!--  <div class="bck">
    <img  class="bck" src="https://media.giphy.com/media/nN5KDoLnXBwWc/giphy.gif"/>
  </div>-->

  <div class="fade"></div>

  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <h1>Finaly The End</h1>
      </div>
      
      <p>Thank you for reading us, if you like our project please share it to your friends. If you have a love story to send to us we will be happy to create for you an unique animation.</p>
      <p> An Nitrix&Jones Production</p> 

    </div>
  </section>
</div>