<div class="body">

  <div id="idDiv">
    <img src="assets/Img/chewba1.png" alt="chewba1">
  </div>

  <div class="textPage1">
    <p>Chewe est abandonné sur Tatooine par Han Solo qui vit son idylle avec Leia. Il veut un nouveau compagnon de route pour continuer ses aventures de contrebandier.</p>
  </div>

  <div id="animYoda">
    <img src="assets/Img/yoda.png" alt="yoda1">
  </div>

  <div class="textPage2">
      <p>" Le compagnon parfait tu trouveras, mais pour cela sur l'étoile noire tu te rendras "</p>
    </div>
  
    <button id="refresh" onclick="document.location.reload(false)"> PLAY </button>

</div>
