.body {
    background: no-repeat url(/assets/Img/bg2.jpg);
    width: 112%;
    position: relative;
    left: -10%;
    height: 805px;
    margin-left: -10px;
    margin-top: -21px;
    padding-top: 21px;
}

/* Anim chewbie 1 */

@-webkit-keyframes chewbie1 {
    0% {
      left: 100px;
    }
    100% {
      left: 400px;
    }

}

#idDiv {
    position: relative;
    left: 400px;
    animation: chewbie1 5s ;
}

#idDiv img{
      height: 520px;
      position: relative;
      top: 290px;
}

/* Anim text 1 */

.textPage1{
      width: 20%;
      position: relative;
      padding: 5px;
      padding-left: 10px;
      left: -1000px;
      top: -30%;
      border: solid 1px;
      font-family: sans-serif;
      font-size: 30px;
      -webkit-animation: animTxt1 5s ;
      -moz-animation: animTxt1 5s ;
      animation: animTxt1 5s ;
  
}

@-webkit-keyframes animTxt1 {
    0% {
      left: 1300px;
    }
    70% {
      left: 900px;
    }
    100% {
        left: -1500px;
    }
}

/* Anim Yoda */


@-webkit-keyframes yoda1 {
    0% {
      left: 2000px;
    }
    100% {
      left: 600px;
    }
}

#animYoda {
    position: relative;
    top: -700px;
    left: 600px;
    -webkit-animation: yoda1 5s ;
    -moz-animation: yoda1 5s ;
    animation: yoda1 15s ;
}


#animYoda img {
      height: 520px;
      position: relative;
      top: 290px;
}

/* Anim text  2 */

.textPage2{
    width: 20%;
    position: relative;
    padding: 35px;
    padding-left: 20px;
    left: 600px;
    top: -1225px;
    border: solid 1px;
    border-radius: 60%;
    font-family: sans-serif;
    font-size: 30px;
    -webkit-animation: animTxt2 5s ;
    -moz-animation: animTxt2 5s ;
    animation: animTxt2 15s ;
    text-align: center;
}

@-webkit-keyframes animTxt2 {
  0% {
    left: -1300px;
  }
  30% {
    left: 0px;
  }
  100% {
      left: 600px;
  }
}