<div class="body">

  <div id="idDiv">
    <img src="assets/Img/chewba1.png" alt="chewba1">
  </div>

  <div class="textPage1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis vero magni expedita quasi incidunt asperiores reprehenderit,</p>
  </div>

  <div id="animYoda">
    <img src="assets/Img/yoda.png" alt="yoda1">
  </div>

  <div class="textPage2">
      <p>" Le compagnon parfait tu trouveras, mais pour cela sur l'étoile noire tu te rendras "</p>
    </div>
  

</div>
